.heading-container {
  grid-area: heading;
}

nav.navbar {
  grid-area: nav;
}

.home-page {
  padding: 0.5rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'status map'
    'instruction map';
  min-height: 0;
}

img.map {
  grid-area: map;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  justify-self: end;
}

.status-text {
  grid-area: status;
  margin: 0;
}

.instruction-text {
  grid-area: instruction;
}
