.heading-container {
  grid-area: heading;
}

nav.navbar {
  grid-area: nav;
}

.home-page {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  column-gap: 2rem;
  grid-template-areas:
    'status map'
    'instruction map';
  min-height: 0;
}

.map-container {
  position: relative;
  grid-area: map;
}

img.map {
  min-height: 0;
}

.visit-marker {
  position: absolute;
  top: 0;
  left: 0;
}

.status-text {
  grid-area: status;
  margin: 0;
}

.instruction-text {
  grid-area: instruction;
}
