.location-map-container {
  grid-area: map;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.location-map-container > #location-marker {
  position: absolute;
  z-index: 1;
}

.location-map-container > div {
  min-width: 0;
  width: min-content;
}

form#add-visit-form {
  padding: 0.5rem 0 1rem 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 2fr 3fr;
  column-gap: 2rem;
  grid-template-areas:
    'inputs map'
    'actions map';
  min-height: 0;
}

.input-container {
  grid-area: inputs;
  display: grid;
  grid-template-rows: repeat(3, 2rem);
  row-gap: 0.5rem;
}

.action-container {
  grid-area: actions;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 0.5rem;
}
